:root{
   --cor-roxa: rgb(120, 0, 255);
   --cor-amarela: rgb(255, 246, 0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

 body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* background-color: rgb(194, 194, 194); */
 }

 header{
    background-color: rgb(255, 255, 255);
    color: var(--cor-roxa);
 }

 .nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
 }

 .nav-list li{
    margin: 25px;
    list-style-type: none;
    padding: 20px;
    text-transform: uppercase;
 }

 .nav-list li a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
 }

 .nav-list li a:hover{
    color: var(--cor-amarela);
    transition: 0.4s ease;
 }

  .logo img{
    width: 50px;
    height: 50px;
 }

 #slideshow{
    background-color: var(--cor-roxa);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
 }

 #slideshow span{
    text-transform: uppercase;
    font-size: 40px;
    max-width: 30%;
    text-align: left;
 }

 #slideshow img{
    width: 300px;
    height: 300px;
 }

 

 .color-word{
    color: var(--cor-amarela);
 }

#sobre{
   margin-top: 10%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

#sobre h1, h2{
   font-size: 40px;
}

#sobre span{
   font-size: 30px;
}

#sobre img{
   width: 300px;
   
}
#sobre img:hover{
   transform: scale(0.9);
   transition: 0.4s ease;
}

#sobre h2{
   margin-top: 10%;
}

#sobre button{
   cursor: pointer;
   font-size: 25px;
   border: none;
   background-color: var(--cor-roxa);
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   border-radius: 20px;
   width: 15%;
   margin-top: 30px;
   margin-bottom: 10%;
   height: 2.5rem;
}

#sobre button:hover{
   color: var(--cor-amarela);
   transition: 0.4s ease;
}

.rodape{
   display: flex;
   justify-content: space-between;
}

.rodape span{
   margin: 20px;
   font-size: 25px;
}

.redes-sociais{
   display: flex;
   justify-content: end;
   margin-right: 20%;
}

.redes-sociais a{
   list-style-type: none;
   color: inherit;
}
.redes-sociais a:hover{
   color: #0077b5;
}
.empresa{
   display: flex;
   margin-left: 20%;
}

.botao{
   display: flex;
   /* flex-direction: column; */
}
